@font-face {
    font-family: "Inter-Variable"; /*имя*/
    font-style: normal;

    font-weight: 400 785; /*диапазон*/

    src: url("../fonts/Inter-Variable.woff2") format("woff2 supports variations"),
         url("../fonts/Inter-Variable.woff2") format("woff2-variations");
         
    font-display: swap; /* подгрузки */
}

@font-face {
    font-family: "PressStart2P";
    font-weight: normal;
    font-style: normal;
    
    /* Указан корректный путь до файла */
    src: url("../fonts/PressStart2P-Regular.woff") format("woff");

    font-display: swap;
}