:root {
  --font-main: "Inter-Variable", sans-serif;
  --font-accent: "PressStart2P", sans-serif;

  --main-color: #000000;
  --text-color: var(--main-color);
  --background-color: #ffffff;
  --button-text-color: #ffffff;
  --grid-line-color: #d3d3d3; /* линии сетки */
  --background-light: #e7e7e7; /* светлый фон для градиента */
  --background-dark: #1a1a1a; /* тёмный фон для градиента */
  --active-heart-color: #fb0808;
  --background-gradient: 
    repeating-linear-gradient(
      0deg, /*поворот (верт)*/
      var(--grid-line-color) 0px,
      var(--grid-line-color) 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      90deg, /*поворот (гор)*/
      var(--grid-line-color) 0px,
      var(--grid-line-color) 1px,
      transparent 1px,
      transparent 2px
    ),
    linear-gradient(
      180deg,
      var(--background-light) 0.01%,
      var(--background-dark) 100%
    );

  --font-weight-content: 400;
  --font-weight-heading: 785; /*для заголовков*/

  --anim-like-transition-delay: 0.05s; /* задержка перехода цвета */
  --anim-like-duration: 0.3s; /* анимация сердечка */
  --anim-like-sparks-delay: 0.3s; /* задержка вспышек */
  --anim-like-delay: 0.1s; /* задержка перед анимацией */
  --anim-like-speed: 0.1s; /* скорость анимации нажатия */
}