/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter-Variable", sans-serif;
  --font-accent: "PressStart2P", sans-serif;

  --main-color: #000000;
  --button-text-color: #ffffff;
  --background-color: #ffffff;
  --active-heart-color: #fb0808;
  --text-color: var(--main-color);

   --grid-line-color: #d3d3d3; /* цвет линий сетки */
  --background-light: #e7e7e7; /* светлый фон для градиента */
  --background-dark: #1a1a1a; /* тёмный фон для градиента */
  --background-gradient: repeating-linear-gradient(
      0deg,
      var(--grid-line-color) 0px,
      var(--grid-line-color) 1px,
      transparent 1px,
      transparent 2px
    ),
    repeating-linear-gradient(
      90deg,
      var(--grid-line-color) 0px,
      var(--grid-line-color) 1px,
      transparent 1px,
      transparent 2px
    ),
    linear-gradient(180deg, var(--background-light) 0.01%, var(--background-dark) 100%);

  --font-weight-content: 400;
  --font-weight-heading: 785;

  --anim-like-duration: 0.3s; /* анимация сердечка */
  --anim-like-delay: 0.1s; /* задержка перед анимацией */
  --anim-like-sparks-delay: 0.3s; /* задержка вспышек */
  --anim-like-transition-delay: 0.05s; /* задержка перехода цвета */
  --anim-like-speed: 0.1s; /* скорость анимации нажатия */


}
/*  --page-width: 700px;
  --min-page-width: 310px;
  --header-height: 368px;
  --icon-button-min-height: 38px;
  --like-button-width: 130px;
  --like-button-height: 38px;
  --like-button-padding: 9px 17px;
  --footer-button-height: 55px;
  --footer-button-padding: 15px 20px;

  --page-margin: 100px;
  --header-gap: 23px;
  --header-bottom-margin: 99px;
  --post-gap: 50px;
  --post-title-padding: 5px 10px;
  --post-content-padding: 25px;
  --post-content-padding-bottom: 22px;
  --post-buttons-gap: 7px;
  --post-buttons-padding-bottom: 3px;
  --main-footer-justify: center;

  --filter-blur: blur(0.15rem);
  --filter-opacity: opacity(0.85);
  --filter-brightness: brightness(120%);
  --filter-grayscale: grayscale(0.75);
  --filter-saturate: saturate(155%);
  --filter-sepia: sepia(75%);
  --filter-contrast: contrast(145%);
  --filter-effects: blur(0.1rem) opacity(0.8) brightness(101%) grayscale(0.5)
    saturate(115%) sepia(50%) contrast(111%); /* мультифильтр под отдельный тест */